body{
    background-color: #232b33;
    color: #ffffff;
}

.fixed-top{
    background-color: #EEEEEE !important;
}

.page-footer{
    background-color: #26415c;
    color: #ffffff !important;
}

.container{
    margin-top: 100px;
}

#btnGroupDrop1{
    margin-right: 20px;
    background: #EEEEEE;
    color: #ff0000;
    font-size: larger;
    border: #EEEEEE;
}

.dropdown-item{
    color: #000000;
    font-weight: bold;
}
